<h1>Planit</h1>

<p>Hello!</p>

<p>
  Welcome to Planit! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email), target: "_blank" %>
